@model IEnumerable<PayrollManagementSystem_Sprint2.Models.PayrollMaster>

@{
    ViewData["Title"] = "PayrollReportDownload";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 style="color:white"><strong>Payroll Report Download</strong></h1>

<p>
    
</p>
<div>
    <p style="color:white"><strong>Click the button below</strong></p>
    <</div>>
<a asp-action="DownloadPayroll"><strong>Download</strong></a> |
<a asp-action="AdminDashboard"><strong>Back to Dashboard</strong></a>
<style>
    label {
        color: white;
    }

    a {
        color: greenyellow;
        font-weight: bold;
    }
</style>
