
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="heading_container heading_center">
    <h2 style="color:white">
        About Website
    </h2>
</div>

<p style="color:white; text-align:center">
    This website helps our employees to manage thier Leave, Timesheets and Payroll records.

    <br />They can do all the important operations hassle free with zero worries about website breakdown.

    <br />Enjoy this webiste and please provide inputs for future development.
</p>

<div class="heading_container heading_center">
    <h2 style="color:white">
        Database Schema
    </h2>
</div>
<div></div>
<img src="/brincht/images/Schema.png" class="rounded mx-auto d-block" alt="Schema">
<div></div>
<div class="heading_container heading_center">
    <h2 style="color:white">
        Role of Administrator
    </h2>
</div>
<p style="color:white">
    <strong>
        <br />
        Administrator is responsible for managing the employee information like Salary, Leaves, TimeSheet entries etc. Whenever a new employee joins the organization, administrator will enter his/her details into this system and will delete employee details when employee leaves the organization. Following are the responsibilities of an administrator user.
        <br />
        <br />
        i. Registration of New Employees in the Payroll system using Registration Form.
        <br />
        ii. Delete employees from the system.
        <br />
        iii. To Approve/Reject Time Sheets for the employee users.
        <br />
        iv. To Generate Salary report for employee users.
        <br />
        v. To Manage leave approval for employee users.
        <br />
        vi. To Search the Time sheets submitted by employee users.
    </strong>
</p>

<div class="heading_container heading_center">
    <h2 style="color:white">
        Role of Employee
    </h2>
</div>
<p style="color:white">
    <strong>
        <br />
        Employee user is responsible for updating employee details and perform activities like apply for leave, fill in time sheet, view salary, check leave balance etc. Following are the duties of employee user:
        <br />
        <br />

        i. Update Employee details
        <br />
        ii. Apply Leave (should mention: leave date, apply date, no of days & reason)
        <br />iii. Check Leave status
        <br />iv. View salary report
        <br />v. Fill Time Sheet for daily activities
        <br />vi. Forget Password
    </strong>
</p>